extends layout

block content
	nav#Nav
		input#OscHost(type='text' placeholder='host' value=osc.host)
		input#OscPort(type='text' placeholder='port' value=osc.port)
		button#Reset reset
	#Wrap
		textarea#Rules(data-event='rules' class='invalid')
		textarea#Text(data-event='text')
