doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://localhost:35729/livereload.js')
		script(src='components/requirejs/require.js', data-main='javascripts/main')
	body
		nav#Nav
			input#OscHost(type='text' value='0.0.0.0')
			input#OscPort(type='text' value='9001')
			button#Reset reset
		block content
