@import "../components/normalize-less/normalize.less";

@background: #111;
@focusBackground: #222;
@invalidBackground: #4D2016;
@accent: #777;
@rulesText: #9BF29E;
@rulesTextInvalid: #FA0505;
@poesyText: #ddd;


body {
	height: 100%;
	pisition: relative;
	font-size: 30px;
	background: @background;
}

textarea {
	width: 100%;
	border: none;
	font-family: monospace;
	color: #ddd;
	background: @background;
	padding: .5em;

	&:focus {
		outline: none;
		background: @focusBackground;
	}
}

textarea#Rules {
	position: absolute;
	top: 0;
	left: 0;
	height: 10%;
	color: @rulesText;

	&.invalid {
		color: @rulesTextInvalid;
		background: @invalidBackground;
	}
}

textarea#Text {
	position: absolute;
	top: 10%;
	left: 0;
	height: 90%;
	color: @poesyText;
	border-top: 3px dotted @accent;
}

nav#Nav {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 15px;
	width: 100%;
	padding: 5px;	
	z-index: 100;
	opacity: 0.8;
	font-size: 13px; 
	border-top: 1px dotted @accent;

	input, button {
		color: #ccc;
		background: #333;
		border: none;
		margin-right: .5em;	
		padding: 2px 5px;
	}

	button {
		border-radius: 0;
		background: #555;
	}
}